    
    /* Mobile screen size */
    @media (min-width:0px) and (max-width:480px){
      body{
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        min-height: 95vh;
        
      }

    
      h1{
        text-align: center;
        background-color: white;
        font-size: 3.5rem;
        width: 100%;
    }
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 250px 250px;
      gap: 30px;

      
    }

    h4{
      text-align: left;
    }
    
    .container1{
        width: 100%;
        height: 250px;
        margin-top: 10px;
        background-color: rgb(226, 188, 48);
        position: relative;
        border: 3px solid black;
        border-radius: 2.5%;
        

    }
    .container1 > .first-image{
      height: 80px;
      width: 70px;
      float: left;

    }
    .container1 > .para1{
      font-family :'Courier New', Courier, monospace;
      font-size: 40%;
      word-wrap: break-word;
      margin-top: 20px;
    }
    .container2{
      width: 100%;
      height: 250px;
      margin-top: 10px;
      background-color: rgb(139, 160, 244);
      border: 3px solid black;
      position: relative;
      border-radius: 2.5%;

  }
  .container2 > .second-image{
    height: 70px;
    width: 60px;
    float: left;
  }
  .container2 > .para2{
    font-family :'Courier New', Courier, monospace;
    font-size: 40%;
      word-wrap: break-word;
      margin-top: 20px;
  }

  .container3{
    width: 100%;
    height: 250px;
    background-color: rgb(220, 220, 34);
    position: relative;
    border: 3px solid black;
    margin-top: 10px;
    border-radius: 2.5%;

}
.container3 > .third-image{
  height: 80px;
  width: 60px;
  float: left;
}
.container3 > .para3{
  font-family :'Courier New', Courier, monospace;
  font-size: 40%;
  word-wrap: break-word;
  margin-top: 20px;
}
.container4{
  width: 100%;
  height: 250px;
  background-color: rgb(244, 141, 7);
  position: relative;
  border: 3px solid black;
  margin-top: 10px;
  border-radius: 2.5%;

}

.container4 > .fourth-image{
  height: 80px;
  width: 60px;
  float: left;
}
.container4 > .para4{
  font-family :'Courier New', Courier, monospace;
  font-size: 40%;
  word-wrap: break-word;
  margin-top: 20px;
}
  footer {
    text-align: center;
    font-size: small;
    margin-top: 60px;
}
    
}

/* Desktop screen size */
    @media (min-width:481px) and (max-width:1600px){

      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 250px;
        gap: 30px;

        
      }

    body{
      background-color: powderblue;
    } 
    h1{
        text-align: center;
        background-color: white;
        font-size: 3.5rem;
    }
    h4{
      text-align: left;
    }
    
    .container1{
        width: 100%;
        height: 250px;
        background-color: rgba(250, 100, 0, 0.811);
        position: relative;
        border: 3px solid black;

    }
    .container1 > .first-image{
      height: 80px;
      width: 70px;
      float: left;
    }
    .container1 > .para1{
      font-family :'Courier New', Courier, monospace;
      font-size: 65%;
      margin-left: 20px;
    }
    


    .container2{
      width: 100%;
      height: 250px;
      background-color: rgb(139, 160, 244);
      border: 3px solid black;
      position: relative;

  }
  .container2 > .second-image{
    height: 70px;
    width: 60px;
    float: left;
  }
  .container2 > .para2{
    font-family :'Courier New', Courier, monospace;
    font-size: 65%;
    margin-left: 20px;
  }
    


  .container3{
    width: 100%;
    height: 250px;
    background-color: rgba(226, 226, 41, 0.83);
    
    border: 3px solid black;
    margin-top: 10px;
    position: relative;

}
.container3 > .third-image{
  height: 80px;
  width: 60px;
  float: left;
}
.container3 > .para3{
  font-family :'Courier New', Courier, monospace;
  font-size: 65%;
      margin-left: 20px;
}

.container4{
  width: 100%;
  height: 250px;
  background-color: rgb(244, 141, 7);
  position: relative;
  border: 3px solid black;
  margin-top: 10px;

}

.container4 > .fourth-image{
height: 80px;
width: 60px;
float: left;
}
.container4 > .para4{
    font-family :'Courier New', Courier, monospace;
    font-size: 65%;
    margin-left: 20px;
}
  footer{
    text-align: center;
    margin-top: 50px;
}
}
  
  