    
    /* Mobile screen size */
    @media (min-width:0px) and (max-width:480px){
      body{
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        min-height: 95vh;
        
      }

    
      h1{
        text-align: center;
        margin-top: 0%;
        background-color: antiquewhite;
        width: 100%;
        /* background-image: url(); */
        font-size: 3.5rem;
        text-shadow: 2px 0 rgb(153, 146, 146);
    }
    .pressed {
      box-shadow: 0 3px 4px 0 #f7f7f795;
      opacity: 0.3;
    }
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 250px 250px;
      gap: 20px;
      margin-right: 5px;

      
    }

    h4{
      text-align: left;
      text-shadow: 1px 0 rgb(119, 87, 87);
    }
    
    .container1{
        width: 100%;
        height: 250px;
        margin-top: 10px;
        background-color: rgba(250, 100, 0, 0.811);
        position: relative;
        border: 3px solid black;
        border-radius: 2.5%;
        

    }
    .container1 > .first-image{
      height: 70px;
      width: 70px;
      float: left;

    }
    .container1 > .para1{
      font-family: "Arvo", cursive;
  font-size: 7.5px;
    }
    .container2{
      width: 100%;
      height: 250px;
      margin-top: 10px;
      background-color: rgb(139, 160, 244);
      border: 3px solid black;
      position: relative;
      border-radius: 2.5%;

  }
  .container2 > .second-image{
    height: 70px;
    width: 60px;
    float: left;
  }
  .container2 > .para2{
    font-family: "Arvo", cursive;
  font-size: 7.5px;
  }

  .container3{
    width: 100%;
    height: 250px;
    background-color: rgb(220, 220, 34);
    position: relative;
    border: 3px solid black;
    margin-top: 10px;
    border-radius: 2.5%;

}
.container3 > .third-image{
  height: 70px;
  width: 60px;
  float: left;
}
.container3 > .para3{
  font-family: "Arvo", cursive;
  font-size: 7.5px;
}
.container4{
  width: 100%;
  height: 250px;
  background-color: rgb(244, 141, 7);
  position: relative;
  border: 3px solid black;
  margin-top: 10px;
  border-radius: 2.5%;

}

.container4 > .fourth-image{
  height: 80px;
  width: 60px;
  float: left;
}
.container4 > .para4{
  font-family: "Arvo", cursive;
  font-size: 7.5px;
}
  footer {
    text-align: center;
    font-size: small;
    margin-top: 100%;
    /* margin-top: 60px; */
}
    
}

/* Desktop screen size */
    @media (min-width:481px) and (max-width:1600px){

      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 250px;
        gap: 20px;

        
      }

    body{
      background-color: powderblue;
    } 
    h1{
        text-align: center;
        margin-top: 0%;
        background-color: antiquewhite;
        width: 100%;
        /* background-image: url(); */
        font-size: 3.5rem;
        text-shadow: 2px 0 rgb(153, 146, 146);
    }
    
    .pressed {
      box-shadow: 0 3px 4px 0 #f7f7f795;;
      opacity: 0.3;
    }
    
    h4{
      text-align: left;
      text-shadow: 1px 0 rgb(119, 87, 87);
    }
    
     .container1{
      width: 100%;
      height: 250px;
      background-color: rgba(250, 100, 0, 0.811);
      position: relative;
      border: 3px solid black;
      border-radius:5px;

    }
    .container1 > .first-image{
      height: 70px;
      width: 75px;
      float: left;
    }
    .container1 >  .para1{
      font-family: "Arvo", cursive;
      font-size: 15px;
    }
    


    .container2{
      width: 100%;
      height: 250px;
      background-color: rgb(139, 160, 244);
      border: 3px solid black;
      position: relative;
      border-radius:5px;

  }
  .container2 > .second-image{
    height: 70px;
    width: 60px;
    float: left;
  }
  .container2 > .para2{
    font-family: "Arvo", cursive;
    font-size: 15px;
  }
    


  .container3{
    width: 100%;
    height: 250px;
    background-color: rgba(226, 226, 41, 0.83);
    border-radius:5px;
    border: 3px solid black;
    margin-top: 10px;
    position: relative;

}
.container3 > .third-image{
  height: 70px;
  width: 60px;
  float: left;
}
.container3 > .para3{
  font-family: "Arvo", cursive;
  font-size: 15px;
}

.container4{
  width: 100%;
  height: 250px;
  background-color: rgb(244, 141, 7);
  position: relative;
  border: 3px solid black;
  margin-top: 10px;
  border-radius:5px;

}

.container4 > .fourth-image{
height: 80px;
width: 60px;
float: left;
}
.container4 > .para4{
    font-family: "Arvo", cursive;
    font-size: 15px;
    
}
  footer{
    background-color: bisque;
    text-align: center;
    margin-top: 100%;
    
}
}
  
  