div {
    display: inline-block;
    width: 45%;
  }

  p {
    font-size: 2em;
  }

  .batman {
    background-color: aquamarine;
  }

  .superman {
    background-color: coral;
  }

  img {
    float: left;
    height: 200px;
    width: 200px;
  } 

  footer {
    text-align: center;
    background-color: antiquewhite;
  }