/* Write your code here: */


/* Group */
h1,h2{
    color: blueviolet;
}
/* Child */
.box > p{
    color: red;
}
/* Descendent */
.box li{
    color: blue;
}
/* Chained */
li.done{
    color: green;
}

/* Multiple Combiners */
ul p.done{
    font-size: 1.5rem;
}


